name: Release And Publish Python Package

on:
  push:
    tags:
      - "v*"

permissions: {}

jobs:
  call-testing:
    name: Run Tests
    uses: ./.github/workflows/testing.yml

  generate-release-body:
    runs-on: ubuntu-latest
    needs: [call-testing]
    permissions:
      contents: read
    outputs:
      release_body: ${{ steps.git-cliff.outputs.content }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Generate Release Body
        id: git-cliff
        uses: orhun/git-cliff-action@v4
        with:
          config: cliff.toml
          args: -vv --current --strip all

  create-github-release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    needs: [generate-release-body]
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          body: ${{ needs.generate-release-body.outputs.release_body }}
          draft: false
          prerelease: false
